@page "/catfood"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">

        <h2 class="centerSections"><b> ЧЕМ КОРМИТЬ КОТЕНКА?</b></h2>

        <img src="/css/Images/CatFood.jpg" alt="cat" class="center" />

        <br />

        <p class="center"><b>Котенок </b> очень быстро растет и развивается – на его иммунитет и пищеварительную систему приходится повышенная нагрузка. Котенку нужно полноценное сбалансированное питание, учитывающее потребности формирующегося и еще не окрепшего организма. Оно должно содержать белки, жиры, углеводы, минеральные вещества и витамины в нужном количестве и правильном соотношении для здорового роста и развития. Всеми этими качествами обладают промышленные корма супер-премиум-класса.</p>

        <h4 class="center">Наилучший вариант – специальное питание для котят. Правильным будет сочетание в суточном рационе сухих и влажных кормов, с учетом потребностей питомца в питательных веществах и энергии. Такой рацион получается разнообразным и имеет существенные преимущества для здоровья вашего любимца:</h4>
      
        <ul class="center">
            <li>Влажный корм обеспечивает более 70 % необходимой суточной нормы потребления жидкости;</li>
            <li>Разгрызание гранул сухого корма поддерживает гигиену зубов благодаря эффекту зубной щетки;</li>
            <li>Сухой корм может оставаться в миске весь день и позволяет котенку питаться небольшими порциями в течение дня, следуя естественному инстинкту.</li>         
        </ul>

        <p class="center">Накладывать сухой и влажный корм в одну миску не стоит. В одно кормление должен быть один из вариантов. Желательно, чтобы корма были одной и той же марки и одной линейки, подобранной по возрастным особенностям животного и потребностям его организма.</p>

        <h4 class="center">ЧЕМ НЕЛЬЗЯ КОРМИТЬ КОТЕНКА?</h4>
        <p class="center">Есть продукты, которые нельзя давать кошке. Их употребление в пищу приводит к острым и хроническим заболеваниям желудочно-кишечного тракта и мочеполовой системы. Для маленьких котят и для взрослых кошек этот перечень примерно одинаков:</p>
        <ul class="center">
            <li>жареная, соленая и жирная пища,</li>
            <li>мясо с костями,</li>
            <li>сладости и шоколад,</li>
            <li>цельное коровье молоко,</li>
            <li>изюм и виноград,</li>
            <li>колбаса и консервы с вашего стола,</li>
            <li>копчености,</li>
            <li>сдоба,</li>
            <li>бобовые (только в очень ограниченном количестве, например, в составе сбалансированного готового корма),</li>
            <li>картофель,</li>
            <li>речная рыба.</li>
        </ul>

        <h4 class="center">ЧЕМ КОРМИТЬ КОТЯТ?</h4>

        <p class="center">Если вы взяли котенка не сразу от кошки, а от других владельцев, обязательно поинтересуйтесь, чем малыш привык питаться. Резкая смена корма может привести к расстройствам пищеварения. При необходимости, менять пищевые привычки питомца нужно постепенно. Для этого понемногу подмешивайте новый корм к привычному, увеличивая его долю в течение 5-7 дней.</p>
        <p class="center">Составить сбалансированное питание для животного самостоятельно, не будучи профессионалом, крайне сложно. Ведь нужно учесть, какие питательные вещества, а главное, в каком количестве, должны поступать в организм кошки для здорового развития и жизни. Кроме того, домашнее питание имеет ряд существенных недостатков:</p>

        <ul class="center">
            <li>Затратно. Здоровый рацион должен включать всегда свежие продукты высокого качества, подходящие конкретному животному. Необходимые витамины и минералы приходится приобретать отдельно. Например, котенку обязательно требуются: таурин (поддержание работоспособности внутренних органов, зрения и формирования скелета) и биотин (качество шерсти), Омега-3 и Омега-6 жирные кислоты, аминокислота Аргинин и многое другое.</li>
            <li>Не хранится долго. Готовить придется постоянно, ведь употребление в пищу несвежей еды приведет к отравлению. Также, например, в путешествии нужно будет находить время и место для приготовления еды четвероногому другу.</li>
            <li>Не учитывает меняющиеся потребности животного. Готовые корма выпускают с учетом возрастных особенностей и состояния здоровья. Отслеживать все нюансы самому достаточно сложно.</li>
        </ul>

        <p class="center">Поэтому лучше всего подойдет готовый сбалансированный корм. При этом не стоит самостоятельно подбирать для котенка витамины и минеральные добавки – обязательно консультируйтесь с ветеринаром. Готовое питание уже включает все необходимые вещества, а их переизбыток в организме также вреден, как и недостаток.</p>

        <p class="center">Постоянно следите за состоянием и поведением вашего питомца. При правильном кормлении котенок активен, любопытен, бодр и игрив. Здоровое животное в меру упитано, имеет красивую блестящую шерсть. Стул котенка должен быть хорошо оформлен и иметь цвет от светло- до темно-коричневого. Если все эти показатели в норме, значит все в порядке – питание котенку вы подобрали правильно.</p>
    </div>
</div>

@code {

}
