@page "/catintoxication"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">

        <h2 class="centerSections"><b>ОТРАВЛЕНИЕ У КОШКИ</b></h2>

        <img src="/css/Images/CatIntoxication.jpg" alt="cat" class="center" />

        <br />

        <p class="center"><b>Отравление у кошек</b> возникает также, как и у людей, из-за попадания в организм извне токсина (яда). Токсин нарушает нормальное течение биохимических процессов, что мешает работе отдельного органа, системы органов или всего организма. Это приводит к развитию опасных для жизни состояний, в том числе к летальному исходу. Поэтому очень важно как можно быстрее определить источник и вид токсина и начать экстренную терапию животного.</p>
        <p class="center">Также стоит отличать отравление от интоксикации. Отравление — это всегда следствие попадания в организм токсина из внешней среды, а интоксикация развивается в результате воздействия на организм токсинов как экзогенного (внешнего) происхождения, так и эндогенного (внутреннего). Эндотоксины образуются в любом, даже здоровом организме и являются естественными продуктами метаболизма (обмена веществ) кошки. Они выводятся через системы органов выделения (печень и желчный пузырь, желудочно-кишечный тракт, почки, лимфатическая система, органы дыхания, кожа). В случае нарушения работы этих органов замедляется процесс выведения метаболитов. Накапливаясь в организме, они приводят к развитию признаков интоксикации животного. Это важно понимать владельцу, так как симптоматика отравления и интоксикации может быть схожей, а причины разными.</p>

        <h4 class="center">ПРИЗНАКИ ОТРАВЛЕНИЯ У КОШЕК</h4>

        <p class="center">В зависимости от того, какой токсин попал в организм кошки, признаки, или симптомы отравления могут быть как схожи, так и иметь значительные отличия.</p>

        <h4 class="center">К основным признакам отравления у кошек относятся:</h4>

        <ol class="center">
            <li>Гиперсаливация (повышенное слюноотделение);</li>
            <li>Тошнота и рвота;</li>
            <li>Диарея;</li>
            <li>Снижение аппетита или отказ от приема пищи;</li>
            <li>Признаки нарушения работы нервной системы (нарушение координации, слабость, судороги, паралич);</li>
            <li>Учащенное дыхание.</li>
        </ol>

        <p class="center">Отдельные отравления могут сопровождаться такими симптомами как повышение или понижение температуры тела, желтушность и/или бледность кожи и видимых слизистых оболочек, кровотечение из анального отверстия, изменение цвета мочи, неадекватная реакция зрачков на свет, полная потеря сознания.</p>    

        <p class="center">Все перечисленные признаки схожи с таковыми при многих других заболеваниях. Поэтому владельцу кошки не рекомендуется самостоятельно ставить диагноз и заниматься самолечением, так как высок риск ошибки.</p>
     
        <p class="center">Симптомы отравления могут развиваться как молниеносно (в течение нескольких часов, а иногда и минут), так и длительно — на протяжении дней и недель. Характер развития патологического состояния зависит от вида и количества токсина, попавшего в организм.</p>
   
        <p class="center">Признаки отравления у котят такие же, как и у взрослых кошек. Могут отличаться только более выраженной симптоматикой и быстрым ухудшением состояния.</p>
   
        <h4 class="center">В обязанности врача неотложной помощи в случае отравления у кошки входит:</h4>

        <ul class="center">
            <li>Предотвращение дальнейшего воздействия яда;</li>
            <li>Ускорение его выведения из организма;</li>
            <li>Оказание поддерживающей и антидотной терапии.</li>          
        </ul>
    
        <h4 class="center">Процедуры, которые чаще всего применяют врачи при лечении отравлений у кошек , следующие:</h4>

        <ol class="center">
            <li>Стимуляция рвоты;</li>
            <li>Дача сорбента;</li>
            <li>Инфузионная терапия (капельница);</li>
            <li>фармакотерапия (назначение фармпрепаратов).</li>
        </ol>

        <p class="center">Рвоту стимулируют не во всех случаях. Если у животного отравление уже сопровождается рвотой и оно после этого не употребляло корм и воду, то вызывать ее дополнительно будет нецелесообразным.</p>
    
        <p class="center"><b>Сорбенты</b> применяются для адсорбции токсического вещества в желудочно-кишечном тракте. Они позволяют снизить токсическую дозу поглощенного яда. Чаще всего в ветеринарной практике в качестве сорбентов применяют активированный уголь или полисорб.</p>
        <p class="center"><b>Капельница кошке при отравлении</b> помогает усилить выведение яда из организма. Также она способствует восстановлению водно-электролитного баланса и устраняет или предупреждает обезвоживание.</p>
        <p class="center"><b>Лекарства для кошек при отравлении</b> подбираются в зависимости от проявленной симптоматики. Врачом могут быть назначены спазмолитические, противосудорожные, жаропонижающие препараты. Также при некоторых видах отравлений назначаются синтетические антиоксиданты. Но наиболее важным в лечении отравления у кошек  является подбор и применение антидота.</p>
        <p class="center"><b>Антидот</b> — это лекарственное средство, применяемое при отравлении и направленное на обезвреживание или предотвращение токсического эффекта отравляющего вещества. Подбор антидота зависит от вида токсина.</p>
          
        <p class="center">Большинство отравлений у кошек являются результатом их любопытства и халатности хозяев, которые по своей неосторожности могут оставить в открытом доступе вещества и предметы, являющиеся источниками токсинов. А также как следствие невежества владельцев, которые дают животным лекарства без учета дозы и совместимости или не по назначению врача. И так как большинство отравлений могут привести к необратимым последствиям и не всегда врачебная помощь может быть оказана своевременно, владельцу важно знать наперед, что может оказаться токсичным для питомца и по возможности предотвратить инцидент.</p>
    
        <p class="center">
            <button class="btn btn-danger" @onclick="OnBack" style="margin-right:55px;">Назад</button>

            Читайте также:
            <ul style="margin-left:100px;">

                <li><a href="cattray"><b>КАК ПРИУЧИТЬ КОШКУ К ЛОТКУ</b></a></li>
                <li><a href="cattoys"><b>ИГРУШКИ ДЛЯ КОШЕК: ВИДЫ, ВЫБОР</b></a></li>
                <li><a href="catfood"><b>ЧЕМ КОРМИТЬ КОТЕНКА?</b></a></li>
            </ul>
        </p>
    
    </div>
</div>

@code {
    private void OnBack()
    {
        NavigationManager.NavigateTo("/sections");
    }
}
