@page "/catpregnant"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">

        <h2 class="centerSections"><b>БЕРЕМЕННОСТЬ КОШКИ</b></h2>

        <img src="/css/Images/CatPregnant.jpg" alt="cat" class="center" />

        <br />

        <p class="center">Многие владельцы хотят получить потомство от своей любимой кошки. Для начала следует определиться, для чего вы это делаете. Не стоит очеловечивать животных. Если вы считаете, что у животного существует потребность произвести потомство, это не так. Если у вас племенное животное, и вы точно знаете, что сможете пристроить котят, это одно дело. Если же у вас обычная, не породистая кошка, то велика вероятность, что котят будет сложно пристроить.</p>

        <h4 class="center">ПРИЗНАКИ БЕРЕМЕННОСТИ У КОШКИ</h4>

        <p class="center">Не каждая вязка приводит к оплодотворению, поэтому, чтобы понять, беременна ли ваша кошка, надо знать признаки наступления беременности. Первые признаки у кошки обычно появляются на третьей неделе беременности. У кошки может меняться поведение и внешний вид. Вот что может указывать на наступление беременности:</p>
    
        <ul class="center">
            <li>Повышенная сонливость. Если кошка обычно очень игривая, она может стать спокойнее, больше спать и меньше времени проводить за активными играми.</li>
            <li>Прекращение течки раньше обычного времени. Это косвенный признак наступления беременности.</li>
            <li>Изменение пигментации сосков под действием гормонов. Соски приобретают более яркую окраску, обычно это заметно через две недели после вязки.</li>
            <li>Изменение аппетита.</li>        
        </ul>     

        <h4 class="center"> КАК УХАЖИВАТЬ ЗА КОШКОЙ ВО ВРЕМЯ БЕРЕМЕННОСТИ</h4>

        <p class="center">В период беременности кошке требуется больше внимания и заботы, чем в обычное время. Это ответственный период для владельцев. Существует ряд нехитрых правил, которые помогут вам получить здоровое потомство от вашей кошки:</p>

        <ul class="center">
            <li>Физические нагрузки в период беременности должны быть умеренными. Не стоит затевать с кошкой длительные активные игры и поощрять прыжки на высокие поверхности, особенно после месяца беременности. Ориентируйтесь на поведение своей любимицы. Если она предпочитает больше лежать, не стоит ее постоянно беспокоить и заставлять активно двигаться. Дайте кошке возможность в этот период жить в своем ритме.</li>
            <li>Ограничьте общение с детьми. Каким бы аккуратным ни был ребенок, он может случайно не удержать и уронить кошку, что в свою очередь может навредить ей или будущему потомству. В период беременности многие кошки предпочитают покой, поэтому навязчивое внимание со стороны человека будет ей неприятно, или даже станет фактором стресса.</li>
            <li>Следите за контактами с другими питомцами. Во время беременности характер кошки может меняться. Она может начать проявлять агрессию по отношению к другим животным, даже если до этого никаких проблем не возникало. Она может инстинктивно защищать себя и свое будущее потомство.</li>
            <li>Избегайте стрессов. Переезд в другую квартиру, ремонт в доме, скопление большого количества людей в доме могут нервировать кошку. Стресс плохо сказывается на протекании беременности, по возможности старайтесь в этот период оградить кошку от различных раздражителей.</li>
            <li>Организовать кошке специальную лежанку или домик, в котором она сможет устроить гнездо для родов. Домик следует установить в тихом, укромном месте.</li>
            <li>Если вашей кошке в этот период требуется больше внимания, старайтесь чаще с ней контактировать, гладить, разговаривать. Если же кошка предпочитает уединение, не навязывайте ей свое общество.</li>
            <li>В этот период можно показать беременную кошку врачу. Он даст рекомендации по уходу за беременной кошкой и по подготовке к родам.</li>      
        </ul>
        
        <h4 class="center">КАК ПРИНИМАТЬ РОДЫ У КОШКИ</h4>

        <p class="center">Итак, мы подошли к самому волнительному и ответственному моменту — рождению котят. Как уже говорилось выше, необходимо подготовить специальное место для родов, например, мягкую лежанку с бортиком, или коробку, в которую можно положить старые полотенца или простыни. Но не факт, что ваша кошка выберет подготовленное вами гнездо. Она может предпочесть дальний угол шкафа или, например, вашу постель.</p>
    
        <p class="center">Что необходимо подготовить к моменту родов, чтобы помочь кошке:</p>

        <ul class="center">
            <li>Побольше мягких, хорошо впитывающих тряпочек или салфеток, они понадобятся, чтобы обтирать котят.</li>
            <li>Одноразовые пеленки, ими можно застелить гнездо и менять по мере загрязнения.</li>
            <li>Прочные нитки, замоченные в спирте или в водке. Они понадобятся, чтобы перевязывать пуповины котятам. Также вам понадобятся острые ножницы. Если кошка сама не перегрызет пуповину, ее следует перевязать и отрезать на расстоянии 1,5-2 см от живота котенка.</li>
            <li>Грелку или бутылку с теплой водой. Новорожденные котята не могут сами контролировать температуру тела, поэтому их необходимо постоянно держать в тепле.</li>
            <li>Маленькую резиновую грушу. С ее помощью можно отсасывать слизь из носовых ходов и ротовой полости котят.</li>
        </ul>

        <p class="center">Если вы не уверены, что сможете оказать помощь своей кошке во время родов, особенно если кошка рожает впервые, лучше обратиться в ветеринарную клинику. Как только вы заметите у кошки признаки начала родовой деятельности, срочно езжайте с ней в клинику или вызывайте на дом врача, который окажет необходимую помощь вашей любимице и проследит, чтобы все прошло благополучно.</p>
        <p class="center">Как определить, что у кошки начались роды? Животное начнет беспокоиться, искать место, копать свое гнездо. У кошки учащается дыхание, она может дышать с открытым ртом, как собака. Когда начинаются схватки, можно увидеть, как кошка напрягает живот, при этом она может вскрикивать. Процесс может занять несколько часов, особенно если котят много.</p>
        <p class="center">В первый период родов у кошки начинаются схватки, можно видеть активные сокращения мышц живота — это плоды продвигаются к выходу из матки. Во время потуг плод выталкивается наружу. Сначала может выходить плодный пузырь. Мы можете видеть, что из родовых путей кошки появляется шарик, заполненный жидкостью. Это и есть плодный пузырь, который окружает котенка. В процессе родов он может разорваться, при этом вытекает большое количество жидкости. Котенок может родиться в плодном пузыре.</p>
        <p class="center">Если кошка молодая и неопытная, она может не сориентироваться, что необходимо сделать. В таком случае надо ей помочь. Следует как можно быстрее разорвать плодный пузырь и извлечь котенка. Можно дать маме облизать малыша. Когда кошка облизывает котенка, она стимулирует дыхание и кровообращение новорожденного. Если же кошка этого не сделает сама, необходимо обтереть котенка сухими тряпками или салфетками, аккуратно удалить слизь из носа и рта (с помощью салфетки или резиновой груши). Затем следует перевязать пуповину. Нитку завязывают на расстоянии 0,5-1 см от живота котенка и обрезают пуповину в 1 см от нитки. После этого котенка можно приложить к соскам. Сосание стимулирует родовую деятельность у кошки. Также можно дать кошке съесть один послед. В нем содержится большое количество гормонов, которые тоже усиливают родовую деятельность.</p>
    </div>
</div>

@code {

}
