@page "/CatTray"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">
        
        <h2 class="centerSections"><b>КАК ПРИУЧИТЬ КОШКУ К ЛОТКУ</b></h2>

        <img src="/css/Images/CatSections1.jpg" alt="cat" class="center" />

        <br />

        <p class="center">С появлением кошки в доме нужно организовать все бытовые условия для ее комфортного существования: определить место для сна, подобрать посуду для кормления и, конечно же, обустроить туалет, где она сможет справлять свои естественные нужды.</p>
        <p class="center">Для домашних кошек производители выпускают специальные лотки – удобные туалетный аксессуар, легко очищаемый от испражнений животного. В лоток можно засыпать специальные наполнители, нейтрализующие запах. Когда все необходимые аксессуары подготовлены, остается самое главное – приучить домашнего питомца ходить в туалет на лоток.</p>

        <h4 class="center">Как приучить котенка к лотку с наполнителем</h4>

        <p class="center">Проще всего приучить к лотку маленького котенка. Если он проживает с мамой-кошкой, эту проблему легко решит заботливая родительница, показывающая хороший пример для подрастающего поколения. Уже в двухмесячном возрасте котенок, наблюдающий за походами матери-кошки в туалет, поймет основное предназначение лотка и будет самостоятельно ходить туда по нужде.</p>
        <p class="center">Если котенка разлучили с матерью, приучать его к лотку придется новым владельцам. У кошек физиологическое желание сходить в туалет возникает после пробуждения и приема пищи. Можно первое время сажать котенка на лоток сразу после кормления и сна. Если он справит свою нужду в туалете, обязательно похвалите его.</p>
        <p class="center">Не все котята быстро привыкают к туалету. Многие из них справляют свою нужду на пол. Не стоит ругать кроху, так как он еще не понимает, с чем связано агрессивное поведение владельца. Лучшим решением станет смывание мочи сухой салфеткой, которую можно положить в предназначенный для туалета лоток. Котик может распознать нужное место по запаху.</p>
        <p class="center">Иногда котята принципиально не желают ходить в туалет, где стоит лоток, и справляют свою нужду в определенном уголке квартиры. Попробуйте переставить лоток в это место. Возможно, это понравится малышу, и он перестанет мочиться на пол.</p>
        <p class="center">Если котенок ходит в туалет на мягкую мебель или в шкаф, придется покупать специальное отпугивающее средство, чтобы отучить его от плохой привычки.</p>
        <p class="center">Приучая котенка к лотку, проявляйте терпение. Если все будете делать правильно, через 2-3 недели котенок начнет ходить на лоток, уже точно понимая его основное предназначение.</p>
       
        <p class="center">
            <button class="btn btn-danger" @onclick="OnBack" style="margin-right:55px;">Назад</button>

            Читайте также:
            <ul style="margin-left:100px;">

                <li><a href="cattoys"><b>ИГРУШКИ ДЛЯ КОШЕК: ВИДЫ, ВЫБОР</b></a></li>
                <li><a href="catpregnant"><b>БЕРЕМЕННОСТЬ КОШКИ</b></a></li>
                <li><a href="catfood"><b>ЧЕМ КОРМИТЬ КОТЕНКА?</b></a></li>
            </ul>
        </p>
    </div>
</div>

@code {
    private void OnBack()
    {
        NavigationManager.NavigateTo("/sections");
    }
}
