@page "/dogexhibition"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">

        <h2 class="centerSections"><b>КАК ПОДГОТОВИТЬ СОБАКУ К ВЫСТАВКЕ?</b></h2>

        <img src="/css/Images/DogExhibition.jpg" alt="dog" class="center" />

        <br />

        <p class="center">Чтобы дойти с питомцем до заветной победы на выставке и заработать очередной титул, нужно проделать долгий путь и вложить немало средств. Тем не менее, этот путь весьма увлекателен и принесет владельцу и его питомцу массу новых впечатлений, интересных встреч и ярких эмоций. Это хороший способ социализации щенка и отличный повод для общения собаки с хозяином.</p>
        <p class="center">Готовиться к рингу нужно задолго до регистрации на саму выставку. Какие этапы подготовки к выставке предстоит пройти хозяину и его питомцу, чтобы получить награду:</p>

        <ul class="center">
            <li><b>Изучите стандарты и требования к породе</b></li>
        </ul>

        <p class="center">Прочитайте максимум литературы и узнайте все о породе, которую хотите приобрести. Изучите отзывы владельцев собак и рекомендации опытных заводчиков. Оцените свои силы и возможности для того, чтобы завести собаку и подготовить ее к выставке.</p>

        <ul class="center">
            <li><b>Выбирайте щенка в надежном питомнике</b></li>
        </ul>

        <p class="center">Для того, чтобы достичь результата и стать чемпионом, должно совпасть несколько факторов: наследственность, воспитание, поведение и психика собаки. Определить сразу после рождения щенка и до возраста 2-2,5 месяцев, что он будет победителем, невозможно.</p>
        <p class="center">Навыки для ринга нарабатываются постепенно на тренировках. Но если у щенка есть дефекты, то о победе на выставке можно забыть. Именно поэтому важно приобретать щенка в проверенном питомнике у надежного заводчика, потому что главная задача таких питомников — сохранение чистоты и улучшение породы.</p>
        <p class="center">Для заводчиков немаловажно, что их щенок попадет к хорошему хозяину, который готов заниматься собакой и возить ее на выставки. Это дополнительная реклама для питомника, и есть большая вероятность, что вам продадут подходящего для этих целей щенка. Стоимость такого щенка будет немалой, т.к. он будет относиться к категории щенков шоу-класса.</p>
        <p class="center">При выборе щенка, обратите внимание на самого смелого и бойкого. На того, кто любит покрасоваться и спокойно реагирует на то, что вы его фотографируете. Именно такие задатки могут говорить о том, что перед вами будущий чемпион.</p>

        <ul class="center">
            <li><b>Воспользуйтесь услугами хендлера</b></li>
        </ul>

        <p class="center"><b>Хендлер</b> — это специалист, который представляет собаку на выставке и готовит ее к соревнованиям. Конечно, в этой роли может выступать и сам хозяин. Если у владельца собаки совершенно нет опыта участия в выставках, но есть огромное желание качественно к ней подготовиться, то есть смысл доверить эту работу профессионалу.</p>
   
        <p class="center">Хендлер уже имеет опыт подготовки собак к рингу и при этом <b>должен знать:</b></p>

        <ul class="center">
            <li>стандарты, требования и особенности поведения конкретной породы,</li>
            <li>психологию собак,</li>
            <li>какие навыки нужны для ринга,</li>
            <li>какими методами дрессировать собаку,</li>
            <li>правила посещения выставок,</li>
            <li>как оказать собаке первую помощь.</li>
        </ul>

        <p class="center">То есть специалист берет на себя всю работу по подготовке к рингу, составляет план действий, организует поездки и умеет показать собаку в лучшем свете. Найти подходящего специалиста можно через клуб, на самих выставках, у знакомых собаководов.</p>
        <p class="center">Познакомьте собаку с хендлером как можно раньше. Чем быстрее профессионал поймет особенности характера вашего питомца, тем быстрее сможет наладить контакт с собакой и приступить к тренировкам.</p>

        <ul class="center">
            <li><b>Уделяйте время здоровью и внешнему виду питомца</b></li>
        </ul>
    
        <p class="center">Во время подготовки к рингу, важно уделять внимание не только формированию навыков. Собака должна быть здоровой, а во время ринга производить впечатление ухоженного питомца и обладать привлекательным внешним видом.</p>
        <p class="center">О чем важно помнить в период подготовки собаки к выставке:</p>

        <ul class="center">
            <li>не перегружайте физически собак во время дрессировок: если собака устала, ей надо дать отдохнуть,</li>
            <li>для заботы о шерсти питомца используйте специальные шампуни и кондиционеры для собак,</li>
            <li>для стрижки шерсти воспользуйтесь услугами профессионального грумера,</li>
            <li>собаке регулярно нужно стричь когти,</li>
            <li>перед выставкой собаку нужно искупать и постричь.</li>          
        </ul>

        <p class="center">Не забывайте регулярно посещать ветеринарного врача, своевременно делать все прививки и осмотры. При любых недомоганиях также не откладывайте посещение ветклиники. Будущий чемпион должен быть абсолютно здоров и иметь много сил для тренировок и участия в выставках.</p>

        <p class="center">
            <button class="btn btn-danger" @onclick="OnBack" style="margin-right:55px;">Назад</button>

            Читайте также:
            <ul style="margin-left:100px;">

                <li><a href="dogforchildren"><b>СОБАКА ДЛЯ ДЕТЕЙ</b></a></li>
                <li><a href="dogvaccination"><b>ПРИВИВКИ ДЛЯ СОБАК</b></a></li>
                <li><a href="dogtravel"><b>КАК ПЕРЕВОЗИТЬ СОБАКУ?</b></a></li>
            </ul>
        </p>
    </div>
</div>

@code {
    private void OnBack()
    {
        NavigationManager.NavigateTo("/sections");
    }
}
