@page "/dogforchildren"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">

        <h2 class="centerSections"><b>СОБАКА ДЛЯ ДЕТЕЙ</b></h2>

        <img src="/css/Images/DogForChildren.jpg" alt="cat" class="center" />

        <br />

        <p class="center">Собака — верный друг для ребенка, готовый разнообразить жизнь и дарить безусловную любовь. Уход за питомцем формирует ответственность и учит детей дисциплине, а в процессе дрессировки щенка ребенок ставит перед собой цель и стремится к ее достижению. В этой статье предлагаем ознакомиться с породами, которые подходят для совместного проживания с детьми.</p>

        <h4 class="center">ЧТО НУЖНО УЧЕСТЬ ПЕРЕД ПОКУПКОЙ СОБАКИ</h4>

        <p class="center">Приобретение питомца — ответственный шаг, к которому должны быть готовы все члены семьи. Соберитесь на семейном совете и поговорите о том, что изменится в вашей жизни, если дома появится собака. Оцените свои возможности, питомец — не игрушка, ему нужно будет уделять время в течение долгих лет. Какие вопросы стоит обсудить:</p>

        <ul class="center">
            <li>Если собаку просит приобрести ребенок, родители должны понимать, что большая часть забот ляжет на их плечи. В силу возраста и отсутствия опыта дети не до конца осознают, как правильно ухаживать за маленьким другом. Например, нельзя пропустить прогулку, если не хочется выходить на улицу, или не покормить питомца, потому что увлекся игрой за компьютером.</li>
            <li>Хватит ли финансов на содержание. Кроме регулярной покупки корма нужны аксессуары для прогулки, отдыха, игр. Средства также понадобятся на приемы у ветеринарного врача и, если требует порода, услуги в салоне груминга. Если в планах участие в выставках и соревнованиях, это необходимость в еще больших вложениях денежных средств.</li>
            <li>Все ли члены семьи готовы к появлению щенка. Распределите обязанности и заручитесь поддержкой друг друга, что каждый будет заботиться о питомце исходя из своих возможностей. Поручайте ребенку посильные задания, учитывая его возраст и породу собаки.</li>
            <li>Когда будете выбирать породу, внимательно ознакомьтесь со всеми ее характеристиками, изучите особенности поведения, повадки, инстинкты, какой ей требуется уход. От этого зависит и количество времени, которое нужно будет регулярно тратить на питомца. Способность к обучению и дрессировке тоже сильно влияет на временные ресурсы, убедитесь, что они у вас есть.</li>
            <li>Оцените габариты вашего дома. Хватит ли места всей семье, если в квартире будет жить еще и большая собака. Если дома живет кошка и другие домашние питомцы, тщательно подойдите к выбору породы. Не все собаки терпят такое соседство, а охотничьи породы часто видят в мелких животных добычу.</li>
            <li>Если ребенок — аллергик, это не повод отказываться от питомца. Есть такие породы, которые практически не линяют и не имеют запаха, что позволяет считать их условно гипоаллергенными. Некоторые исследования доказывают снижение риска развития аллергической астмы у детей, контактировавших с раннего детства с собаками.</li>
            <li>Для покупки щенка выбирайте питомник с хорошей репутацией. Профессиональные заводчики внимательно следят за чистотой породы, своевременной вакцинацией и не допускают к разведению особей с проблемами со здоровьем. Вместе со щенком вам передадут пакет документов: ветеринарный паспорт, метрику, регистрацию клейма.</li>
        </ul>

        <p class="center">Выбор породы также зависит от той цели, для которой вы хотите завести собаку. Будет ли это друг и верный компаньон, участник выставок или будущий чемпион спортивных состязаний.</p>

        <h4 class="center">КАКИЕ ПОРОДЫ СОБАК ПОДХОДЯТ ДЛЯ ДЕТЕЙ С АЛЛЕРГИЕЙ</h4>

        <p class="center">Симптомы аллергии проявляются при контакте аллергика с определенным аллергеном и при определенной его концентрации. Что касается конкретно собак, то частой причиной аллергической реакции на них считают шерсть питомца.</p>
        <p class="center">Организм собак, как и других животных, выделяет белки-раздражители, которые содержатся в слюне, коже, секретах желез и прочих выделениях. Это и есть аллергены, оседающие на шерсти. Поэтому независимо от количества и качества шерсти на собаке, она выделяет аллергены. В связи с этим не существует безаллергенных пород собак. Кроме того, питомец может принести на шерсти с улицы и другие раздражители, например пыльцу цветущих растений. Поэтому шерсть считают главным врагом аллергика.</p>
        <p class="center">Но существует так называемый порог аллергенности — только при превышении которого проявляются симптомы аллергии. Поэтому, если у ребенка аллергия не в острой форме и лечащий врач не ставит противопоказанием содержание в доме собаки, то при определенных условиях содержание собаки вполне возможно.</p>
        <p class="center">Для того, чтобы уменьшить количество собачьего аллергена в помещении, где живет ребенок-аллергик, существует ряд мероприятий: мытье питомца, уборка помещения, установка специальных воздушных фильтров, уменьшение времени пребывания собаки в детской спальне. Также рекомендуется отдать предпочтение тем породам собак, которые практически не линяют. Это связано с особенностями строения шерсти или с ее отсутствием. Получается, что аллергены меньше распространяются по дому, не провоцируя аллергической реакции.</p>
        <p class="center">К условно гипоаллергенным породам относятся: басенджи, венгерская овчарка (комондор), мальтезе, голая китайская хохлатая собака, левретка, самоедская лайка, бишон-фризе, американский голый терьер, ши-тцу, цвергшнауцер.</p>
        <p class="center">При подозрении на аллергию у ребенка рекомендуется проконсультироваться с врачом-аллергологом.  </p>
        <p class="center">Собака в доме положительно сказывается на развитии ребенка. К тому же ежедневные выгулы могут стать отличной семейной традицией. Прогулки на свежем воздухе требуются не только собаке, но и полезны для здоровья всех членов семьи.</p>
        <p class="center">Главное, оцените свои возможности и отнеситесь с пониманием, что основная часть забот ляжет на плечи взрослого человека. Собакам требуется ежедневный уход, включая гигиенические процедуры и кормление.</p>

        <p class="center">
            <button class="btn btn-danger" @onclick="OnBack" style="margin-right:55px;">Назад</button>

            Читайте также:
            <ul style="margin-left:100px;">
                <li><a href="dogexhibition"><b>КАК ПОДГОТОВИТЬ СОБАКУ К ВЫСТАВКЕ?</b></a></li>
                <li><a href="dogvaccination"><b>ПРИВИВКИ ДЛЯ СОБАК</b></a></li>
                <li><a href="dogtravel"><b>КАК ПЕРЕВОЗИТЬ СОБАКУ?</b></a></li>
            </ul>
        </p>
    </div>
</div>

@code {
    private void OnBack()
    {
        NavigationManager.NavigateTo("/sections");
    }
}
