@page "/dogtravel"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">
        <h2 class="centerSections">КАК ПЕРЕВОЗИТЬ СОБАКУ</h2>
        <img src="/css/Images/DogTravel.jpg" alt="dog" class="center" />
        <br />        

        <h4 class="center">ОСНОВНЫЕ ПРАВИЛА ПЕРЕВОЗКИ СОБАКИ НА МАШИНЕ</h4>

        <p class="center">Самый простой вариант транспортировки животного — это поездка на собственной машине на небольшое расстояние, например, на дачу. Здесь придется позаботиться только об удобстве для людей и собаки.</p>

        <p class="center">Очень многих собак, особенно в щенячьем возрасте, сильно укачивает в машине даже при плавном ее передвижении. У собаки начинается сильнейшее слюноотделение, может быть рвота. Во избежание столь неприятных сюрпризов не кормите собаку хотя бы за два часа до поездки. Если особенности породы позволяют, лучше вообще не кормить в этот день.</p>

        <p class="center">Воду, как всегда, можно пить без ограничения. Перед посадкой в машину выгуляйте собаку, чтобы потом ехать без остановок.</p>
        <p class="center">Очень темпераментную и любопытную собаку удобно перевозить в боксе. Переноску можно убрать в багажный отсек или поставить в салоне так, чтобы при резком торможении она не опрокинулась.</p>
        <p class="center">Собака в машине может ехать и без клетки. Некрупные животные прекрасно себя чувствуют, сидя на коленях хозяина. Если у собаки сильное слюнотечение, положите на свою одежду непромокаемую подстилку или пеленку. Можно разрешить собаке ехать на заднем сидении или уложить ее на пол между сиденьями. Для крупных собак выпускают специальные автогамаки, которые подвешивают между передним и задним сиденьями. Там собаке мягко и уютно ехать, есть возможность смотреть в окно.</p>
        <p class="center">Не рекомендуется сажать собаку на переднее пассажирское сидение. При экстренном торможении ее может выбросить через лобовое стекло либо травмировать сработавшей подушкой безопасности. Кроме того, заскучавший питомец может помешать водителю управлять машиной.</p>

        <p class="center">Также не рекомендуется позволять собаке высовываться в открытое окно. Она может выпрыгнуть в него, увидев что-то интересное или получить травму глаз из-за сора, летящего с дороги, или застудить уши из-за сквозняка.</p>
        <p class="center">Если вам необходимо оставить собаку ненадолго одну, обязательно обеспечьте ее свежим воздухом — оставьте приоткрытым окно. Помните, что на солнце машина сильно и быстро нагревается. Собака в невентилируемом салоне может погибнуть из-за теплового удара.</p>
        <p class="center">В сильную жару лучше вообще отказаться от поездки, поскольку велик риск гибели животного от перегрева. Если в машине работает кондиционер, значительный перепад температур в салоне и на улице также может стать серьезным ударом по здоровью питомца.</p>

        <h4 class="center">РЕКОМЕНДАЦИИ ВЕТЕРИНАРОВ</h4>
        
        <p class="center">Выбор вида транспорта для путешествия остается за вами, но ваш питомец должен быть здоров, заранее привит, иметь все необходимые сопровождающие документы (ветеринарный паспорт, справку на вывоз). При поездке за границу собака должна иметь чип. У нее обязательно должен быть свой багаж в виде аксессуаров (ошейник, намордник, шлейка, поводок) и необходимых в дороге вещей. Продумайте заранее, где будет собака спать, укрываться от солнца или дождя, обеспечьте такой температурный режим, чтобы питомец не страдал от жары и духоты. Не оставляйте собаку в запертой машине на жаре — это опасно для ее жизни. Не забудьте взять в дорогу воду и нужное количество того корма, которым собака привыкла питаться.</p>
        <p class="center">Вы должны заранее узнать правила перевозки животных именно у того перевозчика, услугами которого планируете воспользоваться. Тогда ваше совместное путешествие пройдет без проблем и доставит только удовольствие.</p>
        
        <p class="center">
            <button class="btn btn-danger" @onclick="OnBack" style="margin-right:55px;">Назад</button>

            Читайте также:
            <ul style="margin-left:100px;">

                <li><a href="dogexhibition"><b>КАК ПОДГОТОВИТЬ СОБАКУ К ВЫСТАВКЕ?</b></a></li>
                <li><a href="dogvaccination"><b>ПРИВИВКИ ДЛЯ СОБАК</b></a></li>
                <li><a href="dogforchildren"><b>СОБАКА ДЛЯ ДЕТЕЙ</b></a></li>
            </ul>
        </p>
    </div>
</div>

@code {
    private void OnBack()
    {
        NavigationManager.NavigateTo("/sections");
    }
}
