@page "/dogvaccination"

@inject NavigationManager NavigationManager

<div class="sections">

    <div class="border">

        <h2 class="centerSections">ПРИВИВКИ ДЛЯ СОБАК</h2>

        <img src="/css/Images/DogVaccination.jpg" alt="dog" class="center" />

        <br />

        <p class="center">Для чего собакам вакцинация и какие прививки нужно делать? Для необходимо разобраться, что такое вакцины и зачем они нужны.</p>     
        <p class="center">Вакцины – это ветеринарные препараты биологического происхождения, которые способствуют выработке активного приобретенного иммунитета (невосприимчивости) к определенным заболеваниям. Если говорить проще, вакцина представляет собой комбинацию ослабленных вирусов или бактерий, при введении которых в организм щенка или взрослой собаки появляются антитела, как правило без развития болезни или животное «переболевает» в легкой форме. В большинстве случаев этот процесс протекает совершенно незаметно для владельца. В результате этого организм приобретает защиту от этих вирусов – в организме вырабатываются антитела (защитные белки). Время выработки антител после вакцинации составляет 2-4 недели.</p>
        
        <p class="center">В КАКОМ ВОЗРАСТЕ СЛЕДУЕТ ПРИВИВАТЬ ЩЕНКОВ</p>       

        <p class="center">Новорожденные щенки получают антитела с первыми порциями молозива. Это так называемый пассивный приобретенный иммунитет. Уровень материнских антител в крови щенков постепенно снижается, и достигает минимального уровня в среднем к 12-недельному возрасту. У некоторых щенков уровень материнских антител снижается уже к восьми неделям, а у некоторых сохраняется до 16-ти недель.</p>
        <p class="center">Если к моменту проведения первой прививки уровень материнских антител будет еще высоким, он нейтрализует попавшие в организм вирусы, но при этом у щенка не будут вырабатываться собственные антитела. Так как невозможно понять, какой уровень материнских антител присутствует в организме щенка к моменту проведения прививки, процедуру вакцинации повторяют. При повторном введении уровень материнских антител значительно снижается, и организм щенка начинает вырабатывать свои антитела.</p>

        <p class="center">Возраст, в котором проводится вакцинация щенков, зависит от нескольких факторов:</p>

        <ul class="center">
            <li>Возраст, в котором щенка отдадут новым владельцам. Если щенка отдают в раннем возрасте, в 1-1,5 месяца, то начинать прививать его можно с 6-недельного возраста. Если щенка отдают в возрасте 2-х месяцев и старше, обычно проводят стандартную схему вакцинации – в 8 и 12 недель.</li>
            <li>Условия содержания животного. Например, питомник с большим количеством животных или квартира, где щенок будет единственным питомцем и не будет контактировать с другими животными, загородный дом и так далее.</li>   
        </ul>

        <p class="center">Поэтому лучше всего подойдет готовый сбалансированный корм. При этом не стоит самостоятельно подбирать для котенка витамины и минеральные добавки – обязательно консультируйтесь с ветеринаром. Готовое питание уже включает все необходимые вещества, а их переизбыток в организме также вреден, как и недостаток.</p>

        <p class="center">Постоянно следите за состоянием и поведением вашего питомца. При правильном кормлении котенок активен, любопытен, бодр и игрив. Здоровое животное в меру упитано, имеет красивую блестящую шерсть. Стул котенка должен быть хорошо оформлен и иметь цвет от светло- до темно-коричневого. Если все эти показатели в норме, значит все в порядке – питание котенку вы подобрали правильно.</p>
    
        <p class="center">КАК ПОДГОТОВИТЬ ЖИВОТНОЕ К ВАКЦИНАЦИИ</p>

        <p class="center">Вакцинация проводится здоровому животному ­– это основное условие для формирования стойкого иммунитета. На здоровье животного может повлиять:</p>


        <ol class="center">
            <li>
                Условия содержания, а именно:
                <ul class="center">
                    <li>Где содержится собака (квартира, питомник, вольерное или уличное содержание).</li>
                    <li>Наличие контакта с другими животными (питомник, другие животные дома, большое количество бродячих животных на улице).</li>
                </ul>
            </li>
            <br />
            <li> Питание. В период активного роста и развития щенка важным для его здоровья является правильное питание, недостаток питательных веществ в рационе может существенно повлиять на его здоровье.</li>
            <br />
            <li>Наличие паразитов (гельминтов, блох, клещей).</li>
            <br />
            <li>Перенесенные заболевания и операции. Прививки не делают собакам, перенесшим операцию. Наркоз также ослабляет защитные силы организма. Поэтому интервал между оперативным вмешательством и вакцинацией должен составлять не менее 3-х недель. По той же причине прививки не делают больным, ослабленным животным. После полного выздоровления должно пройти не менее 2-3 недель.</li>
            <br />
            <li>Физиологическое состояние (беременность).</li>
            <br />
            <li>Прием лекарственных средств. Если питомец принимает какие-либо лекарственные средства, например, антибиотики, необходимо проконсультироваться с врачом. Он подскажет, допустимо ли проведение вакцинации на фоне приема препарата, или необходимо выдержать определенный интервал после приема.
               <br />
               <br />
                Перед вакцинацией животное обрабатывают от глистов, иногда несколько раз. Наличие в организме собаки гельминтов ослабляет иммунитет, повышает риск возникновения аллергических реакций и препятствует формированию стойкого иммунитета. Щенки могут заражаться внутриутробно от матери, поэтому перед вязкой собак также следует обрабатывать от глистов.
            </li>       
        </ol>

        <p class="center">
            <button class="btn btn-danger" @onclick="OnBack" style="margin-right:55px;">Назад</button>

            Читайте также:
            <ul style="margin-left:100px;">
                <li><a href="dogexhibition"><b>КАК ПОДГОТОВИТЬ СОБАКУ К ВЫСТАВКЕ?</b></a></li>
                <li><a href="dogtravel"><b>КАК ПЕРЕВОЗИТЬ СОБАКУ</b></a></li>
                <li><a href="dogforchildren"><b>СОБАКА ДЛЯ ДЕТЕЙ</b></a></li>
            </ul>
        </p>
    </div>
</div>

@code {
    private void OnBack()
    {
        NavigationManager.NavigateTo("/sections");
    }
}
