@page "/sectioninfo/{sectionId}"
@using AnimalShelterCore;
@using UseCases.DataAnimalsPluginInterfaces;
@using UseCases.SectionUseCasesInterfaces;

@inject NavigationManager NavigationManager
@inject ISectionRepository SectionRepository
@inject IViewSectionsUseCase ViewSectionsUseCase

@foreach(var section in sections)
{
    <p>@(section.MainText)</p>
}

@code {
    [Parameter]
    public string SectionId { get; set; }
    private Section section;
    private IEnumerable<Section> sections;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        sections = ViewSectionsUseCase.Execute();
    }
}