@page "/sectioninfo/{sectionId}"
@using AnimalShelterCore;
@using UseCases.DataAnimalsPluginInterfaces;
@using UseCases.SectionUseCasesInterfaces;

@inject NavigationManager NavigationManager
@inject ISectionRepository SectionRepository

<h2 class="bgForOl" style="margin:10px;text-align:center;border-radius:5px;padding:8px;">@((MarkupString)section.Title)</h2>
<img src="@(section.ImagePath)" alt="" class="imgForAnimals center" />
<br />
<div class="center">@((MarkupString)section.MainText)</div>

@code {
    [Parameter]
    public string SectionId { get; set; }

    private Section section;
    private IEnumerable<Section> sections;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        section = SectionRepository.GetSection(SectionId);
    }
}