@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
<link href="css/MyStyle.css" rel="stylesheet" />

<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>

            <div class="bc-login flex-end">
                <ul class="login-position">
                    <li class="flex-item">
                        <span style="font-size:25px;color:#20454f;margin-left: 10px;">
                            Мы в соцсетях:
                        </span>

                        <a @onclick="OnGoToVk"><img src="css/Images/vk.png" alt="picture" class="imgSocialNetwork" /></a>
                        <a @onclick="OnGoToFb"><img src="css/Images/fb.png" alt="picture" class="imgSocialNetwork" /></a>
                    </li>

                    <li class="push-right">
                        <a href="/Identity/Account/Manage" class="btn btn-lg">Здравствуйте, @context.User.Identity.Name</a>   
                    </li>

                    <li class="flex-item">
                        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
                            <button style="align-items:center;" type="submit" class="btn btn-danger">
                                <i class="fa-sharp fa-solid fa-door-open"></i>&nbsp;Выйти из профиля
                            </button>
                        </form>
                    </li>
                </ul>
            </div>     
        </Authorized>
        <NotAuthorized>

            <div class="bc-login flex-end">
                <ul class="login-position">

                    <li class="flex-item">
                        <span style="font-size:25px;color:#20454f;margin-left: 10px;" >
                            Мы в соцсетях:
                        </span>
                                                
                        <a @onclick="OnGoToVk"><img src="css/Images/vk.png" alt="picture" class="imgSocialNetwork" /></a>
                        <a @onclick="OnGoToFb"><img src="css/Images/fb.png" alt="picture" class="imgSocialNetwork" /></a>
                    </li>       
                           
                <li class="push-right">
                        <a class="btn btn-primary" style="color:white;align-items:center;" href="Identity/Account/Register">
                            <i class="fa-solid fa-user-plus"></i> &nbsp;Зарегистрироваться
                        </a>

                        <a class="btn btn-success" style="align-items:center;" href="Identity/Account/Login">
                            <i class="fa-sharp fa-solid fa-door-open"></i> &nbsp;Войти
                        </a>
                    </li>
                </ul>
            </div>
        </NotAuthorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>




@code {
    private void OnGoToVk()
    {
        NavigationManager.NavigateTo("https://vk.com/public218734015");
    }

    private void OnGoToFb()
    {
        NavigationManager.NavigateTo("https://www.facebook.com/groups/512168994356269");
    }
}
