.myFlexClass {
    width: var(--width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.img{
    width: 220px;
    margin: 10px 0 0 0;
}

.Border {
    border-radius: 10%;
    background-color: lightslategray;
    padding: 25px;
    color: white;
    font-size: 35px;
    margin: 85px 0 0 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.imgForAnimals{
    width:300px;
    margin: 10 0 10 0;
}