@inherits LayoutComponentBase
@using AnimalsWebApp.Pages.Shared


<div>
    <LoginDisplay></LoginDisplay>
    <AnimalsWebApp.Pages.NavBar.NavBar></AnimalsWebApp.Pages.NavBar.NavBar>
</div>



  <main> 
   
    @Body 
  </main>
