 <link href="css/MyStyle.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg navbar-toggleable-lg border-bottom box-shadow mb-3 fixed-top bc">
    <div class="container">
        <a class="navbar-brand text-light" asp-area="" asp-page="/Index"><img src="css/Images/logo.jpg" class="img" alt=""/></a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
               
                 @*Для исправления бага не убирать!*@
                 <li class="nav-item">
                    <a class="nav-link text-light" href="" hidden="true"></a>
                 </li>
                 @*Для исправления бага не убирать!*@

                <li class="nav-item">
                    <a class="nav-link text-light" href="" Match="NavLinkMatch.All"><img src="css/Images/kitty.png" class="imgIcons" alt="" />Главная</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-light" href="dogs"><img src="css/Images/foot.png" class="imgIcons" alt="" />Собаки</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link text-light" href="cats"><img src="css/Images/foot.png" class="imgIcons" alt="" />Кошки</a>
                </li>  
                
                <li class="nav-item">
                    <a class="nav-link text-light" href="admin"><img src="css/Images/admin.png" class="imgIcons" alt="" />Админ</a>
                </li>    
                                 
           
            </ul>
        </div>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = false;
    }
}