.img {
    width: 170px;
}

.imgIcons{
    width: 38px;
}

.imgForAnimals {
    width: 100%;
    margin:0;
    height:100%;
    max-width:250px;
    object-fit:cover;
}

.flexForImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin: 140px 0 0 0;
}

.line {
    margin: 210px 0 0 0;
}

.line2 {
    margin: 185px 0 0 0;
}

.navFlex {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap: wrap;
    gap: 45px;
}

.flexForImg2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

a:hover img {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img {
    transition: 0.5s ease-in-out;
}

.bc{
    background-color:#20454f;
   
}

a{
    font-size: 25px;
}

.containerForAnimalsDescription {
    color: white;
    background-color: black;
    font-family:Georgia;
    text-align:center;
 
}

.center {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.smartTable {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    table{
        margin:10px 0 0 0;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

    .buttons {
        margin: 10px 10px 0 7px;
    }
}

    .buttons {
        margin: 20px 7px 10px 7px;
    }

    input[placeholder] {
        text-overflow: ellipsis;
    }

    @media only screen and (max-width: 992px) {
        .images {
            margin: 0 0 0 65px;
        }

        .buttons {
            margin: 80px 7px 0 7px;
        }
    }

    @media only screen and (max-width: 992px) {
        .images {
            margin: 0 0 0 70px;
        }
    


